@font-face {
    font-family: Avenir;
    font-weight: 400;
    src: local("Avenir LT Std 35 Light"),
    url(AvenirLTStd-Light.woff) format("woff");
}
  
@font-face {
    font-family: Avenir;
    font-weight: 700;
    src: local("Avenir LT Std 65 Medium"),
    url(AvenirLTStd-Medium.woff) format("woff");
}
  
@font-face {
    font-family: Avenir;
    font-weight: 900;
    src: local("Avenir LT Std 95 Black"),
    url(AvenirLTStd-Black.woff) format("woff");
}
